<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">
<title>Display a map on a webpage</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

#buttons {
width: 50%;
margin: 0 auto;
}
.button {
display: inline-block;
position: relative;
cursor: pointer;
width: 12%;
padding: 8px;
border-radius: 3px;
margin-top: 10px;
font-size: 12px;
text-align: center;
color: #fff;
background: #ee8a65;
font-family: sans-serif;
font-weight: bold;
}

</style>
</head>
<body>

    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
          <a href="/" class="w3-bar-item w3-button"><b>UNESCO</b></a>
          <!-- Float links to the right. Hide them on small screens -->
          <div class="w3-right w3-hide-small">
            <a href="#projects" class="w3-bar-item w3-button" id="nav1">세계유산</a>
            <a href="#about" class="w3-bar-item w3-button" id="nav2">인류무형문화유산</a>
            <a href="#contact" class="w3-bar-item w3-button" id="nav3">세계기록유산</a>
            <a href="{% url 'map' %}"><img src="/static/map_icon.png" alt="House" width="26" style="margin-top:6px; cursor:pointer;"></a>
          </div>
          <ul id="buttons">
                <!-- <div id="map"></div> -->
                <li id="button-kr" class="button">Korean</li>
                <li id="button-en" class="button">English</li>
            </ul>
        </div>
      </div>

<div id="map"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoibGV3aXN5c2giLCJhIjoiY2xqNXlvYW5oMDh1YjNnbzVkNjlodDFrMSJ9.6ez-dppLkOO2PsUbMD3GnA';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/lewisysh/cljzmwleo001y01pqgpn8g2lx', // style URL
        center: [128.002167, 36.526410], // starting position [lng, lat]
        zoom: 6 // starting zoom
    });
    document.getElementById('buttons').addEventListener('click', (event) => {
    const language = event.target.id.substr('button-'.length);
    // Use setLayoutProperty to set the value of a layout property in a style layer.
    // The three arguments are the id of the layer, the name of the layout property,
    // and the new property value.
    map.setLayoutProperty('country-label', 'text-field', [
    'get',
    `name_${language}`
    ]);
    });
</script>

</body>
</html>