<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UNESCO</title>
</head>

<body>
    <div id="map" style="width:100%;height:100vh;"></div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e00ee7b35d9447fc1b074a96fd8ee6d0"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
            mapOption = { 
                center: new kakao.maps.LatLng(37.57853462923442, 126.98081163055696), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
        // 마커를 표시할 위치와 title 객체 배열입니다 
        var positions = [
            {
                title: '한복남', 
                latlng: new kakao.maps.LatLng(37.57618445345127 , 126.97330066333754 )  // 한복남
            },
            {
                title: '그날그한복', 
                latlng: new kakao.maps.LatLng(37.57628484733633 , 126.9797617963153 )  // 그날그한복
            },
            {
                title: '서울한복카페', 
                latlng: new kakao.maps.LatLng(37.577501342371974, 126.98067278123015)  // 서울한복카페
            },
            {
                title: '참한복',
                latlng: new kakao.maps.LatLng(37.575430997363746, 126.97886205883063)  // 참한복
            },
            {
                title: '원데이한복',
                latlng: new kakao.maps.LatLng(37.579517913528704, 126.98474781210345)  // 원데이한복
            },
            {
                title: '북촌한복',
                latlng: new kakao.maps.LatLng(37.58121180224732, 126.98490596384195)  // 북촌한복
            },
            {
                title: '금준당',
                latlng: new kakao.maps.LatLng(37.58093651159489, 126.98148135856074)  // 금준당
            },
            {
                title: '한복남',
                latlng: new kakao.maps.LatLng(37.576096976266584, 126.99031817631781)  // 한복남
            }
        ];

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
            
        for (var i = 0; i < positions.length; i ++) {
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35); 
            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image : markerImage // 마커 이미지 
            });
        }
    </script>
</body>
</html>